//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 18 10:34:16 2015
//! **************************************************************************

SCHEMATIC START;
COMP "RST" LOCATE = SITE "B8" LEVEL 1;
COMP "DISPdata<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "DISPdata<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "DISPdata<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "DISPdata<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "DISPdata<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "DISPdata<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "DISPdata<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "DISPdata<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "DISPcontrol<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "DISPcontrol<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "DISPcontrol<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "DISPcontrol<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "CONTROL<0>" LOCATE = SITE "T5" LEVEL 1;
COMP "CONTROL<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "CONTROL<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "CONTROL<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "CONTROL<4>" LOCATE = SITE "M8" LEVEL 1;
COMP "CONTROL<5>" LOCATE = SITE "V9" LEVEL 1;
COMP "CONTROL<6>" LOCATE = SITE "T9" LEVEL 1;
COMP "CONTROL<7>" LOCATE = SITE "T10" LEVEL 1;
COMP "boardCLK" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

