NET "DATAIN(7)" LOC=T5;
NET "DATAIN(6)" LOC=V8;
NET "DATAIN(5)" LOC=U8;
NET "DATAIN(4)" LOC=N8;
NET "DATAIN(3)" LOC=M8;
NET "DATAIN(2)" LOC=V9;
NET "DATAIN(1)" LOC=T9;
NET "DATAIN(0)" LOC=T10;
NET "AN(3)" LOC=P17;
NET "AN(2)" LOC=P18;
NET "AN(1)" LOC=N15;
NET "AN(0)" LOC=N16;
NET "CAT(0)" LOC=T17;
NET "CAT(1)" LOC=T18;
NET "CAT(2)" LOC=U17;
NET "CAT(3)" LOC=U18;
NET "CAT(4)" LOC=M14;
NET "CAT(5)" LOC=N14;
NET "CAT(6)" LOC=L14;
NET "CLK" LOC=V10;
NET "POP" LOC=C4;
NET "PUSH" LOC=D9;
NET "EMPTY" LOC=T11;
NET "LAST" LOC=R11;
NET "FULL" LOC=N11;
NET "POP" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PUSH" CLOCK_DEDICATED_ROUTE = FALSE;

