NET "Clk" LOC = "B8";
NET  "ResetF" LOC = "B18" ;
NET  "ResetD" LOC = "H13" ;
NET "Length<0>" LOC = "G18" ;
NET "Length<1>" LOC = "H18" ;
NET "Length<2>" LOC = "K18" ;
NET "Control<0>" LOC = "L13" ;
NET "Control<1>" LOC = "N17" ;
NET "Control<2>" LOC = "R17" ;
NET "Anodes<0>"  LOC = "F17" ;
NET "Anodes<1>"  LOC = "H17" ;
NET "Anodes<2>"  LOC = "C18" ;
NET "Anodes<3>"  LOC = "F15" ;
NET "NumberOut<0>" LOC = "L18";
NET "NumberOut<1>" LOC = "F18";
NET "NumberOut<2>" LOC = "D17";
NET "NumberOut<3>" LOC = "D16";
NET "NumberOut<4>" LOC = "G14";
NET "NumberOut<5>" LOC = "J17";
NET "NumberOut<6>" LOC = "H14";