NET 'RST' LOC=B8;
NET 'boardCLK' LOC=V10;
NET 'CONTROL[0]' LOC=T5;
NET 'CONTROL[1]' LOC=V8;
NET 'CONTROL[2]' LOC=U8;
NET 'CONTROL[3]' LOC=N8;
NET 'CONTROL[4]' LOC=M8;
NET 'CONTROL[5]' LOC=V9;
NET 'CONTROL[6]' LOC=T9;
NET 'CONTROL[7]' LOC=T10;
NET 'DISPcontrol[0]' LOC=N16;
NET 'DISPcontrol[1]' LOC=N15;
NET 'DISPcontrol[2]' LOC=P18;
NET 'DISPcontrol[3]' LOC=P17;
NET 'DISPdata[0]' LOC=T17;
NET 'DISPdata[1]' LOC=T18; 
NET 'DISPdata[2]' LOC=U17;
NET 'DISPdata[3]' LOC=U18;
NET 'DISPdata[4]' LOC=M14;
NET 'DISPdata[5]' LOC=N14;
NET 'DISPdata[6]' LOC=L14;
NET 'DISPdata[7]' LOC=M13;